* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #444;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
